<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartcarecenter">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DetailsPM">
            <intent-filter>
                <action android:name="SCCPM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PmList" />
        <activity android:name=".ProsesPembayaran" />
        <activity android:name=".LiveChatList" />

        <receiver android:name=".DownloadBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ListChat">
            <intent-filter>
                <action android:name="notifchat" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HistoryPayment" />
        <activity android:name=".VirtualAccount" />
        <activity android:name=".ContactUs" />
        <activity android:name=".OrderSumary" />
        <activity android:name=".ResultPayment" />
        <activity android:name=".PaymentAct" />
        <activity android:name=".SubCategoryNews" />
        <activity android:name=".CategoryNews" />
        <activity android:name=".DetailsSurvey" />
        <activity android:name=".SurveyList_Activity" />
        <activity android:name=".SurveyActivity" />
        <activity android:name=".TermActivity" />
        <activity android:name=".ReopenCase" />
        <activity android:name=".Add_Po_Item_List" />
        <activity android:name=".AddDetailsPoView">
            <intent-filter>
                <action android:name="ChargeableOrder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddDetailsPo" />
        <activity android:name=".AddDetailFocView">
            <intent-filter>
                <action android:name="FOCOrder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Add_Foc_Item_List" />
        <activity android:name=".AddDetailFoc" />
        <activity android:name=".FreeofchargeActivity" />
        <activity android:name=".ChargeableActivity" />
        <activity android:name=".PurchaseMenu" />
        <activity android:name=".DetailsNotification">
            <intent-filter>
                <action android:name="Notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Notification" />
        <activity android:name=".AddRequest" />
        <activity android:name=".RatingStar" />
        <activity android:name=".DetailsFormActivity">
            <intent-filter>
                <action android:name="FormRequest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FormActivity" />
        <activity android:name=".DetailsNews" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".Langueage" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".Myprofile" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".NoInternet" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Dashboard"
            android:excludeFromRecents="true"
            android:parentActivityName=".SpalshScreen"
            android:taskAffinity="" />
        <activity android:name=".SpalshScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".messagecloud.FirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />
    </application>

</manifest>